<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RssNet</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
    <form method="POST" action="/flux" >
        <input type="text" name="url" id="name"/>
        <input type="submit"/>
    </form>
</body>
</html>
