
{{test}}				


<div class="row">
	<div ng-repeat="cat in Categories">
		<div class="col-sm-4 col-md-2 col-xs-6"  ng-show="cat">
			<a class="btn btn-default" ng-href="#/Categorie/{{cat._id}}" role="button" ng-show="cat" class="categorie">{{cat.Description}}</a>
		</div>
		<span ng-switch on="$index % 3">
			<div ng-switch-when="2" class="clearfix visible-sm"></div>
		</span>
		<span ng-switch on="$index % 6">
			<div ng-switch-when="5" class="clearfix visible-md"></div>
		</span>
		<span ng-switch on="$index % 2">
			<div ng-switch-when="1" class="clearfix visible-xs"></div>
		</span>

	</div>
</div>
