
{{test}}				
<div class="row">

	<div ng-repeat="sou in Sources track by $index">
		<div class="col-sm-3" ng-show="sou">
			<a ng-href="#/Source/{{sou._id}}" role="button" ng-show="sou">
				<div class="btn btn-default" >
				<div favicon sourceid="{{sou._id}}"/>
					<h2>{{sou.Description}}</h2>
				</div>
			</a>
			<div class="btn-group">
			<button ng-repeat="cat in sou.CategoriesIds track by $index" type="button" class="btn btn-default"
				id="{{cat}" ng-href="#/Categorie/{{cat}}">{{CategoriesClassees[cat].Description}}
			</button>
		</div>
	</div>
	<span ng-switch on="$index % 4">
		<div ng-switch-when="3" class="clearfix visible-sm"></div>
	</span>

</div>
</div>
