
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Start Bootstrap</a>
                </li>
                <li ><a href="#">Lasts</a>
                </li>
                <li><a href="#"  id="Cat">Categories</id>
                </li>
                <li><a href="#">Sources</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div id="test"></div>
     
        </div>

    </div>

@* <!-- JavaScript -->
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>*@


